#divUpperContainer
{
    height: 15vh;
}

#divFunctions
{
}

#divContentContainer
{
    height: 80vh;
    border-collapse: separate;
    border-spacing: 5px;
}

.divContent
{
    display: inline-block;
    vertical-align: top;
}

table
{
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
}

.divTableLSList
{
    height: 100%;
    overflow-y: auto;
}

.trLSList
{
    padding: 1px 1px;
    border-spacing: 0px;
    height: 30px;
}

.trLSListColID
{
    padding: 1px 1px;
    border-spacing: 0px;
    height: 30px;
    display: none;
}

.trLSListEffectInfo
{
    padding: 1px 1px;
    border-spacing: 0px;
    height: 30px;
    display: none;
}

.tdLSListNo
{
    width: 50px;
}

.tdLSListImg
{
    padding-top: 4px;
    padding-bottom: 0px;
}

.tdLSListName
{
    width: 250px;
}

.tdLSListMax
{
    width: 50px;
}

.tdLSListCost
{
    width: 50px;
}

.tdLSListOthers
{
    display: none;
}

.imgLSSmall
{
    height: 64px;
    width: 64px;
}

.trLSDetail
{
    padding: 1px 1px;
    border-spacing: 0px;
    height: 30px;
    border-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
}

.tdLSDetailTitle
{
    width: 20px;
    border-width: 1px;
    border-style: solid;
}

.tdLSDetailCheckBox
{
    width: 20px;
    border-width: 1px;
    border-right-style: solid;
}

.tdLSDetail
{
    width: 250px;
    border-width: 1px;
    border-style: solid;
}

.tdLSDetailEffect
{
    width: 250px;
    border-width: 1px;
    border-right-style: solid;
    border-top-style: none;
    border-bottom-style: none;
}

.tdLSDetailHiddenInfo
{
    width: 40px;
    border-width: 1px;
    border-style: solid;
    display: none;
}

.imgLSDetail
{
    width: 200px;
}

.hiddenInformation
{
    display: none;
}
